HUGGINGFACEHUB_API_TOKEN=hf_token_cua_ban_o_day
EMBEDDING_MODEL=all-MiniLM-L6-v2
LLM_MODEL=mistralai/Mistral-7B-Instruct-v0.3
CHROMA_PATH=./chroma_data
CHUNK_SIZE=500
CHUNK_OVERLAP=50
RETRIEVER_K=2
LLM_TEMPERATURE=0.1